<ul class="nobull">
<li>
	{{burger_name}}

    <br>

	<button class="btn-success change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Throw It Up!{{/if}}
	</button>

	<button class="btn-warning delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
</ul>